<!-- 
    ROS navigation stack with velocity smoother and safety (reactive) controller
-->
<launch>

  <!--include file="$(find turtlebot_navigation)/launch/includes/velocity_smoother.launch.xml">

  </include>
  <include file="$(find turtlebot_navigation)/launch/includes/safety_controller.launch.xml">

  </include-->
  <arg name="robot_name"   default="tb2_1"/>
  <arg name="odom_frame_id"   default="$(arg robot_name)_tf/odom"/>
  <arg name="base_frame_id"   default="$(arg robot_name)_tf/base_footprint"/>
  <arg name="global_frame_id" default="map"/>
  <arg name="odom_topic" default="/$(arg robot_name)/odom" />
  <arg name="laser_topic" default="/$(arg robot_name)/scan" />
  <arg name="custom_param_file" default="$(find turtlebot_navigation)/param/dummy.yaml"/>

  <arg name="number"   default="1"/>
  
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find turtlebot_navigation)/param/multi_param/multi_param$(arg number)/costmap_common_params_multi.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot_navigation)/param/multi_param/multi_param$(arg number)/costmap_common_params_multi.yaml" command="load" ns="local_costmap" />   
    <rosparam file="$(find turtlebot_navigation)/param/multi_param/multi_param$(arg number)/local_costmap_params_multi.yaml" command="load" />   
    <rosparam file="$(find turtlebot_navigation)/param/multi_param/multi_param$(arg number)/global_costmap_params_multi.yaml" command="load" />
    <rosparam file="$(find turtlebot_navigation)/param/multi_param/multi_param$(arg number)/dwa_local_planner_params_multi.yaml" command="load" />
    <rosparam file="$(find turtlebot_navigation)/param/multi_param/multi_param$(arg number)/move_base_params_multi.yaml" command="load" />
    <rosparam file="$(find turtlebot_navigation)/param/multi_param/multi_param$(arg number)/global_planner_params_multi.yaml" command="load" />
    <rosparam file="$(find turtlebot_navigation)/param/multi_param/multi_param$(arg number)/navfn_global_planner_params_multi.yaml" command="load" />
    <!-- external params file that could be loaded into the move_base namespace -->
    <rosparam file="$(arg custom_param_file)" command="load" />
    
    <!-- reset frame_id parameters using user input data -->
    <param name="global_costmap/global_frame" value="$(arg global_frame_id)"/>
    <param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="local_costmap/global_frame" value="$(arg odom_frame_id)"/>
    <param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)"/>
    <param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame_id)"/>

    <!--remap from="cmd_vel" to="navigation_velocity_smoother/raw_cmd_vel"/-->
    <remap from="/cmd_vel"                                                         to ="/$(arg robot_name)/cmd_vel_mux/input/teleop"/>
    <remap from="odom"                                                             to="/$(arg robot_name)/odom"/>
    <remap from="scan"                                                             to="/$(arg robot_name)/scan"/>
    <remap from="map"                                                              to="/projected_map"/>

    <remap from="/move_base_simple/goal"                                           to="/$(arg robot_name)/move_base_simple/goal"/>
    <remap from="/move_base/DWAPlannerROS/cost_cloud"                              to="/$(arg robot_name)/move_base/DWAPlannerROS/cost_cloud"/>
    <remap from="/move_base/DWAPlannerROS/global_plan"                             to="/$(arg robot_name)/move_base/DWAPlannerROS/global_plan"/>
    <remap from="/move_base/DWAPlannerROS/local_plan"                              to="/$(arg robot_name)/move_base/DWAPlannerROS/local_plan"/>
    <remap from="/move_base/DWAPlannerROS/parameter_descriptions"                  to="/$(arg robot_name)/move_base/DWAPlannerROS/parameter_updates"/>
    <remap from="/move_base/DWAPlannerROS/trajectory_cloud"                        to="/$(arg robot_name)/move_base/DWAPlannerROS/trajectory_cloud"/>
    <remap from="/move_base/NavfnROS/plan"                                         to="/$(arg robot_name)/move_base/NavfnROS/plan"/>
    <remap from="/move_base/cancel"                                                to="/$(arg robot_name)/move_base/cancel"/>
    <remap from="/move_base/current_goal"                                          to="/$(arg robot_name)/move_base/current_goal"/>
    <remap from="/move_base/feedback"                                              to="/$(arg robot_name)/move_base/feedback"/>
    <remap from="/move_base/global_costmap/costmap"                                to="/$(arg robot_name)/move_base/global_costmap/costmap"/>
    <remap from="/move_base/global_costmap/costmap_updates"                        to="/$(arg robot_name)/move_base/global_costmap/costmap_updates"/>
    <remap from="/move_base/global_costmap/footprint"                              to="/$(arg robot_name)/move_base/global_costmap/footprint"/>
    <remap from="/move_base/global_costmap/inflation_layer/parameter_descriptions" to="/$(arg robot_name)/move_base/global_costmap/inflation_layer/parameter_descriptions"/>
    <remap from="/move_base/global_costmap/inflation_layer/parameter_updates"      to="/$(arg robot_name)/move_base/global_costmap/inflation_layer/parameter_updates"/>
    <remap from="/move_base/global_costmap/obstacle_layer/clearing_endpoints"      to="/$(arg robot_name)/move_base/global_costmap/obstacle_layer/clearing_endpoints"/>
    <remap from="/move_base/global_costmap/obstacle_layer/parameter_descriptions"  to="/$(arg robot_name)/move_base/global_costmap/obstacle_layer/parameter_descriptions"/>
    <remap from="/move_base/global_costmap/obstacle_layer/parameter_updates"       to="/$(arg robot_name)/move_base/global_costmap/obstacle_layer/parameter_updates"/>
    <remap from="/move_base/global_costmap/parameter_descriptions"                 to="/$(arg robot_name)/move_base/global_costmap/parameter_descriptions"/>
    <remap from="/move_base/global_costmap/parameter_updates"                      to="/$(arg robot_name)/move_base/global_costmap/parameter_updates"/>
    <remap from="/move_base/global_costmap/static_layer/parameter_descriptions"    to="/$(arg robot_name)/move_base/global_costmap/static_layer/parameter_descriptions"/>
    <remap from="/move_base/global_costmap/static_layer/parameter_updates"         to="/$(arg robot_name)/move_base/global_costmap/static_layer/parameter_updates"/>
    <remap from="/move_base/goal"                                                  to="/$(arg robot_name)/move_base/goal"/>
    <remap from="/move_base/local_costmap/costmap"                                 to="/$(arg robot_name)/move_base/local_costmap/costmap"/>
    <remap from="/move_base/local_costmap/costmap_updates"                         to="/$(arg robot_name)/move_base/local_costmap/costmap_updates"/>
    <remap from="/move_base/local_costmap/footprint"                               to="/$(arg robot_name)/move_base/local_costmap/footprint"/>
    <remap from="/move_base/local_costmap/inflation_layer/parameter_descriptions"  to="/$(arg robot_name)/move_base/local_costmap/inflation_layer/parameter_descriptions"/>
    <remap from="/move_base/local_costmap/inflation_layer/parameter_updates"       to="/$(arg robot_name)/move_base/local_costmap/inflation_layer/parameter_updates"/>
    <remap from="/move_base/local_costmap/obstacle_layer/clearing_endpoints"       to="/$(arg robot_name)/move_base/local_costmap/obstacle_layer/clearing_endpoints"/>
    <remap from="/move_base/local_costmap/obstacle_layer/parameter_descriptions"   to="/$(arg robot_name)/move_base/local_costmap/obstacle_layer/parameter_descriptions"/>
    <remap from="/move_base/local_costmap/obstacle_layer/parameter_updates"        to="/$(arg robot_name)/move_base/local_costmap/obstacle_layer/parameter_updates"/>
    <remap from="/move_base/local_costmap/parameter_descriptions"                  to="/$(arg robot_name)/move_base/local_costmap/parameter_descriptions"/>
    <remap from="/move_base/local_costmap/parameter_updates"                       to="/$(arg robot_name)/move_base/local_costmap/parameter_updates"/>
    <remap from="/move_base/parameter_descriptions"                                to="/$(arg robot_name)/move_base/parameter_descriptions"/>
    <remap from="/move_base/parameter_updates"                                     to="/$(arg robot_name)/move_base/parameter_updates"/>
    <remap from="/move_base/recovery_status"                                       to="/$(arg robot_name)/move_base/recovery_status"/>
    <remap from="/move_base/result"                                                to="/$(arg robot_name)/move_base/result"/>
    <remap from="/move_base/status"                                                to="/$(arg robot_name)/move_base/status"/>

 
  </node>
</launch>
